html
{
    font-family:"Microsoft Yahei","微软雅黑","宋体","Arial","Sans-serif","Times New Roman";
    font-size:100%;
}
body
{
	margin:0;
	padding:20px;
	text-align:left;
    background:#f9f3e3;
}
ruby span
{
    font-size: 300%;
    color:#D16950;
}
ruby rt
{
    font-family:Arial,Sans-serif;
    font-size:150%;
    color:#419FD0;
}
#top>span
{
    color:#DA8770;
}

#imgExample
{
	margin:0px 10px 30px 10px;
	float:left;
}
#mainContainer
{
	margin:43px 0px 0px 0px;
	padding:8px;
    min-width: 200px;
    border:3px solid #FFFDEC;
    border-radius: 8px;
    background-color: #FEA100;
	text-align:left;
    float: left;
}
#mainContainer>nav
{
	margin:-43px 0px 8px 0px;
	padding:0;
	text-align:right;
}
#mainContainer>nav>a
{
	width:89px;
	height:29px;
	line-height:29px;
	background:#FDCD01;
	display:inline-block;
	text-align:center;
	cursor:pointer;
	font-weight:bolder;
	text-shadow:0px 0px 8px #FFFFFF;
    border:3px solid #FEFFF1;
    border-radius:10px 10px 0px 0px;
	color:#000000;
}
#contentContainer
{
	background:#FFFFCC;
    border-radius: 8px;
}
.tabContent
{
	display:none;
    line-height: 180%;
}
.tabContent p
{
	margin:0;
    padding:0;
    text-indent: 2em;
}
.tabContent .ta{padding:5px;margin-left: 0px;}
.tabContent .ta textarea
{
	line-height: 180%;
	margin-left:0px;
    padding:5px;
    text-indent: 2em;
    font-family:楷体;
	font-weight:bold;
	font-size:100%;
	border: none;
  	background-color: #FFFFCC;
  	text-align: left;
  	resize: none
}
#textSource, #textExample
{
	font-family:楷体;
	font-weight:bold;
	font-size:150%;
}

#textExample>nav
{
	margin:0px auto 10px auto;
	width:80%;
	border-bottom:2px solid #990000;
	text-align:center;
}
#textExample>nav>a
{
	display:inline-block;
	font-weight:bold;
	font-size:23px;
	width:30px;
	height:30px;
	cursor:pointer;
}
#textExample>div
{
    display: none;
}
#textExample>div .exampleText
{
    font-size: 240%;
}
#textExample>div .exampleImgDescribe
{
    color:#0000FB;
}