body{font-size:24px;font-weight:bold;background:#ffffcc;line-height:48px;}
a{background:#ffff99;margin:6px;padding:6px;}
a:link{text-decoration:none;color:#000000;}
a:visited{text-decoration:none;color:#000000;background:#ffff66}
a:hover{text-decoration:none;color:#000000;background:#ffcc33}

